[Desktop Entry]
Type=Application
Name=Dartmatic
GenericName=Dartboard Scorer
Comment=Play darts. It keeps score.
Exec=/opt/dartmatic/bin/Dartmatic
Icon=dartmatic
Terminal=false
Categories=Game;
Keywords=darts;dartboard;score;
StartupNotify=true
