[Desktop Entry]
Type=Application
Name=Treblotron
GenericName=Dartboard Scorer
Comment=Play darts. It keeps score.
Exec=/opt/treblotron/bin/Treblotron
Icon=treblotron
Terminal=false
Categories=Game;
Keywords=darts;dartboard;score;
StartupNotify=true
